<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.mapper.SchoolPracticeEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.school.pojo.SchoolPracticeEvaluate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_table_id" property="userTableId" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="teacher_appraise" property="teacherAppraise" jdbcType="VARCHAR" />
    <result column="firm_id" property="firmId" jdbcType="VARCHAR" />
    <result column="attend_qualified" property="attendQualified" jdbcType="VARCHAR" />
    <result column="teacher_result" property="teacherResult" jdbcType="VARCHAR" />
    <result column="firm_result" property="firmResult" jdbcType="VARCHAR" />
    <result column="work_complete" property="workComplete" jdbcType="VARCHAR" />
    <result column="firm_comment" property="firmComment" jdbcType="VARCHAR" />
    <result column="creat_by" property="creatBy" jdbcType="VARCHAR" />
    <result column="creat_date" property="creatDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from school_practice_evaluate
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.school.pojo.SchoolPracticeEvaluate" >
    insert into school_practice_evaluate (id, user_table_id, teacher_id, teacher_appraise,
      firm_id, attend_qualified, work_complete, 
      firm_comment, creat_by, creat_date, teacher_result,firm_result,
      update_by, update_date)
    values (#{id,jdbcType=VARCHAR}, #{userTableId,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, #{teacherAppraise,jdbcType=VARCHAR},
      #{firmId,jdbcType=VARCHAR}, #{attendQualified,jdbcType=VARCHAR}, #{workComplete,jdbcType=VARCHAR}, 
      #{firmComment,jdbcType=VARCHAR}, #{creatBy,jdbcType=VARCHAR}, #{creatDate,jdbcType=TIMESTAMP}, #{teacherResult,jdbcType=VARCHAR},#{firmResult,jdbcType=VARCHAR},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.school.pojo.SchoolPracticeEvaluate" >
    update school_practice_evaluate
    set
    <if test="userTableId!=null and userTableId!=''">
        user_table_id = #{userTableId,jdbcType=VARCHAR},
    </if>
    <if test="teacherId!=null and teacherId!=''">
        teacher_id = #{teacherId,jdbcType=VARCHAR},
    </if>
    <if test="teacherAppraise!=null and teacherAppraise!=''">
        teacher_appraise = #{teacherAppraise,jdbcType=VARCHAR},
    </if>
    <if test="firmId!=null and firmId!=''">
        firm_id = #{firmId,jdbcType=VARCHAR},
    </if>
    <if test="attendQualified!=null and attendQualified!=''">
      attend_qualified = #{attendQualified,jdbcType=VARCHAR},
    </if>
    <if test="workComplete!=null and workComplete!=''">
      work_complete = #{workComplete,jdbcType=VARCHAR},
    </if>
    <if test="firmComment!=null and firmComment!=''">
      firm_comment = #{firmComment,jdbcType=VARCHAR},
    </if>
    <if test="creatBy!=null and creatBy!=''">
      creat_by = #{creatBy,jdbcType=VARCHAR},
    </if>
    <if test="creatDate!=null">
      creat_date = #{creatDate,jdbcType=TIMESTAMP},
    </if>
    <if test="updateBy!=null and updateBy!=''">
      update_by = #{updateBy,jdbcType=VARCHAR},
    </if>
    <if test="teacherResult!=null and teacherResult!=''">
      teacher_result = #{teacherResult,jdbcType=VARCHAR},
    </if>
    <if test="firmResult!=null and firmResult!=''">
      firm_result = #{firmResult,jdbcType=VARCHAR},
    </if>
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, user_table_id, teacher_id, teacher_appraise, firm_id, attend_qualified, teacher_result,firm_result,
    work_complete, firm_comment, creat_by, creat_date, update_by, update_date
    from school_practice_evaluate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_table_id, teacher_id, teacher_appraise, firm_id, attend_qualified, teacher_result,firm_result,
    work_complete, firm_comment, creat_by, creat_date, update_by, update_date
    from school_practice_evaluate
  </select>
    <select id="selectOne" resultMap="BaseResultMap">
      select id, user_table_id, teacher_id, teacher_appraise, firm_id, attend_qualified, teacher_result,firm_result,
    work_complete, firm_comment, creat_by, creat_date, update_by, update_date
    from school_practice_evaluate where user_table_id=#{userId,jdbcType=VARCHAR}
    </select>
</mapper>